<h1>Editing user_info</h1>
<div style="color:red">please keep the password and confirmation empty if u don't want to update password.</div><br>
<%= render 'form' %>

<%= link_to 'Show', @user_info %> |
<%= link_to 'Back', user_infos_path %>
